:root {
    --orange-coler: #ff8354;
    --black-coler: #272f37;
    --blue-color: #4690fc;
    --green-color: #50c594;
    --while-color: #fff;

    --text-color: #525252;
    --err-color: #f90c0c;
}
